app-mobile-home {
  .floor-plan {
    height: 150px;
    width: 117px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;

    background: rgba(0, 0, 0, 0.75);

    img {
      object-fit: contain;
    }
  }

  .main-picture {
    height: 50vh;
    position: relative;

    .navigation {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      display: flex;
      justify-content: space-between;
    }

    img {
      object-fit: cover;
    }
  }

  .house-details {
    padding: 1rem;
  }

  .summary-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
