@use '@angular/material' as mat;
@include mat.core();

@import '@angular/material/prebuilt-themes/purple-green.css';

$primary: mat.define-palette(mat.$purple-palette);
$accent: mat.define-palette(mat.$blue-palette);
$warn: mat.define-palette(mat.$amber-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
));
