<div class="basic-details">
  <h1> {{ propertyData.houseDetails }}
    <span> ({{ propertyData.housePrice | currency: 'EUR' }}) </span>
  </h1>
  <span><span class="italic"> Address: </span>
    {{ propertyData.address }}</span>
</div>

<div class="actions">
  <button mat-button mat-raised-button color="accent" (click)="contactService.email()">
    <span class="material-symbols-rounded">mail</span>
    <span class="flex-center">Email</span>
  </button>
  <button mat-button mat-raised-button color="primary" (click)="contactService.call()">
    <span class="material-symbols-rounded">call</span>
    <span class="flex-center">Contact</span>
  </button>
</div>

<ng-container *ngIf="roomNavigatorService.currentImageUrl$ | async as currentImageUrl">
  <div class="picture-details" #houseImageContainer>
    <img #houseImage [ngSrc]="currentImageUrl" priority alt="Current Room" fill (load)="adjustOverlay()">
    <div class="click-overlay" #houseImageClickable (click)="roomNavigatorService.viewFullImage()"
         matTooltip="View Larger Image"
         matTooltipPosition="below"></div>
    <button class="previous"
            tabindex="-1" mat-fab color="primary" (click)="roomNavigatorService.previousImage()"
            matTooltip="View previous picture"
            matTooltipPosition="above">
          <span class="material-symbols-rounded">
            chevron_left
          </span>
    </button>
    <button class="next"
            tabindex="-1" mat-fab color="primary" (click)="roomNavigatorService.nextImage()"
            matTooltip="View next picture"
            matTooltipPosition="above">
          <span class="material-symbols-rounded">
            chevron_right
          </span>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="roomNavigatorService.currentFloorPlan$ | async as currentFloorPlan">
  <div class="floor-plan-details" #floorImageContainer>
    <img #floorImage [ngSrc]="currentFloorPlan" alt="Current Floor Plan" (load)="adjustFloorOverlay()" fill>
    <div #floorImageClickable class="grid-overlay">
      <div class="living" (click)="roomNavigatorService.goTo('livingRoom')"
           matTooltip="View Living Room"
           matTooltipPosition="left">
        Living Room
      </div>
      <div class="kitchen" (click)="roomNavigatorService.goTo('kitchen')"
           matTooltip="View Kitchen"
           matTooltipPosition="above">
        Kitchen
      </div>
      <div class="bedroom" (click)="roomNavigatorService.goTo('bedroom')"
           matTooltip="View Bedroom"
           matTooltipPosition="right">
        Bedroom
      </div>
      <div class="bathroom" (click)="roomNavigatorService.goTo('bathroom')"
           matTooltip="View Bathroom"
           matTooltipPosition="above">
        Bathroom
      </div>
      <div class="entrance" (click)="roomNavigatorService.goTo('entrance')"
           matTooltip="View Entrance Hall"
           matTooltipPosition="above">
        Entrance
      </div>
      <div class="balcony" (click)="roomNavigatorService.goTo('balcony')"
           matTooltip="View Balcony"
           matTooltipPosition="below">
        Balcony
      </div>
      <div class="outside" (click)="roomNavigatorService.goTo('outside')"
           matTooltip="View Outside"
           matTooltipPosition="below">
        Outside
      </div>
    </div>
  </div>
</ng-container>

<div class="info">
  <mat-chip-set aria-label="Property Details">
    <mat-chip>
      <span class="material-symbols-rounded">bed</span>
      <span class="flex-center">1 Bedroom</span>
    </mat-chip>
    <mat-chip>
      <span class="material-symbols-rounded">bathtub</span>
      <span class="flex-center">1 Bathroom</span>
    </mat-chip>
    <mat-chip>
      <span class="material-symbols-rounded">garage</span>
      <span class="flex-center">2 Designated Parking</span>
    </mat-chip>
  </mat-chip-set>
</div>

<div class="summary-details">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Property Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>
          Nestled in the picturesque landscape of the Netherlands, this charming one-bedroom, one-bathroom house offers a tranquil retreat for those seeking serenity and comfort.
          Boasting a prime location, the property showcases breathtaking panoramic views of the surrounding countryside, creating an idyllic setting for relaxation and contemplation.
          The interior exudes warmth and sophistication, featuring modern amenities seamlessly integrated with rustic charm.
          The spacious bedroom provides a peaceful sanctuary, while the well-appointed bathroom offers luxurious comfort.
          Step outside onto the private terrace, where you can bask in the beauty of nature or entertain guests amidst the stunning backdrop.
          With its unparalleled blend of natural beauty and contemporary elegance, this house embodies the essence of Dutch living at its finest.
          Don't miss the opportunity to make this extraordinary property your own and indulge in a lifestyle of unparalleled tranquility and refinement.
        </span>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-container *ngIf="roomNavigatorService.currentRoom$ | async as currentRoom">
  <div class="room-details">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="currentRoom.name">
            {{ currentRoom.name }} - Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngIf="currentRoom.description">
          {{ currentRoom.description }}
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
