<div class="image-container">
  <img [ngSrc]="data.imageUrl" alt="Floor plan of house" fill>
  <div class="grid-overlay">
    <div class="living" (click)="goTo('livingRoom')">Living Room</div>
    <div class="kitchen" (click)="goTo('kitchen')">Kitchen</div>
    <div class="bedroom" (click)="goTo('bedroom')">Bedroom</div>
    <div class="bathroom" (click)="goTo('bathroom')">Bathroom</div>
    <div class="entrance" (click)="goTo('entrance')">Entrance</div>
    <div class="balcony" (click)="goTo('balcony')">Balcony</div>
  </div>
</div>

<div class="actions">
  <button tabindex="-1" mat-fab color="primary" (click)="goTo('outside')">
    <span class="material-symbols-rounded">
      home_pin
    </span>
  </button>
  <button tabindex="-1" mat-fab color="accent" (click)="dialogRef.close()">
    <span class="material-symbols-rounded">
      close
    </span>
  </button>
</div>
