@use 'theme' as theme;
@use '@angular/material' as mat;

@include mat.all-component-colors(theme.$dark-theme);

.light-mode {
  @include mat.all-component-themes(theme.$light-theme);
}

// reset browser adding random margin
body {
  margin: 0;
}

.full-screen-dialog {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// fix placement of text and icons in buttons
.mdc-button__label,.mat-mdc-chip-action-label {
  display: flex;
  justify-content: center;
}

.italic {
  font-style: italic;
}
